

.navbar {
	margin-bottom: 0px;
	border: 0px;
}

a,
a:hover,
a:link {
	text-decoration: none;
	color: inherit;
}

.navbar-default {
	background-color: #56b9d0;
	border-radius: 0px;
	font-family: 'Abel', sans-serif;
}

.login-bar {
	background: #56b9d0;
	height: 30px;
	padding-top: 10px;
	font-family: 'Abel', sans-serif;
}

.navbar-default hr{
	border-color: #fcff03;
	margin-bottom: 0px;
	margin-top: 8px;
}

.login-button {
	color: #fcff03 !important;
	margin-right: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fcff03;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: yellow;
	color: #56b9d0;
}

.navbar-brand{
	height: auto;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
}
.navbar-default .navbar-brand {
	color: #fcff03
}
.fa-angle-left{
	margin-top: 116%;
	font-size: 40px !important;
	color: #fcff03;
}
.fa-angle-right{
	margin-top: 116%;
	font-size: 40px !important;
	color: #fcff03;
}

.service {
	padding-top: 40px;
	font-family: 'Abel', sans-serif;
}

.new{
	margin-top: 27px;
	background: #ededed;
	padding-bottom: 27px;
	min-height:400px;
	font-family: 'Abel', sans-serif;
}

.news-title{
	color: #57b4dd;
}

.data-target{
	padding-top: 22px;
}

.img-center{
	text-align: -webkit-center;
	padding-top: 50px;
}

.news-label {
	color: #000000;
	font-size: 20px;
}

.information-images{
	font-size: 80px !important;
	padding-bottom: 20px;
	color: #56b9d0;
}

.information-text{
	margin-bottom: 40px !important;;
}

.user{
	background: #fcfe03;
	padding-top: 27px;
	padding-bottom: 27px;
	min-height:400px;
}

.user-name{
	padding-top: 20px;
	font-family: 'Abel', sans-serif;
}

.information{
	background: #545454;
	padding-top: 50px;
	padding-bottom: 27px;
	font-family: 'Abel', sans-serif;
	color: #ffffff

}
.img-accounting{
	width: 150px;
	height: 175px;
}
.information-names{
	color: #ffffff;
}

.social-icons{
	margin-top: 50px;
	font-size: 20px !important;
}

@media screen and (max-width: 990px) {
	.img-accounting {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}